.page{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 25vw;
    height: 45vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;

    border-radius: 25px;
    background: rgba(255, 255, 255, 0.548);

}


.inputArea{
    width: 100%;
    padding: 15px;
}

input{

    height: 2rem;
    width: 100%;


    margin: 5px 0px;
    padding: 0px 10px;
    background: rgba(255, 255, 255, 0.79);
    border: 1px solid #616161;
    border-radius: 12px;

}

input[type="text"]:focus {
    border-color: #000000;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

label{
    font-size: 14px;
    color: #141313;
}

button{
    width: 60%;
    height: 2.5rem;

    color: #FFF;
    font-weight: bold;
    font-size: 16px;

    margin: 15px 0;
    background: #A855F7;
    border: 1px solid #9e37ff;
    border-radius: 12px;
    transition: all 300ms ease-out;

}

button:hover{
    background: #5c2590;
    border: 1px solid #5c2590;

    transform: scale(1.1);
    transition: all 300ms ease-out;

}